#container>canvas {
	position: absolute;
	left: 0;
	top: 0;
}
html,body{
	box-sizing: border-box;
}
#coding {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	visibility: hidden;
	background-color: rgba(0,0,0,0.75);
	z-index: 0;
}

#submit{
	border: none;
	font-family: monospace;
	background-color: #000000;
	position: absolute;
	right: 16px;
	bottom: 16px;
	z-index: 100;
	color: white;
	padding: 25px 25px;

}
#done{
	border: none;
	font-family: monospace;
	background-color: #000000;
	position: absolute;
	right: 100px;
	bottom: 16px;
	z-index: 100;
	color: white;
	padding: 25px 25px;

}

#editor {
	position: absolute;
	top: 400px;
	bottom: 0;
	width: 99%;
	font-size: 20px;	
	font-family: monospace;
	background-color: #473c89;
	border: none;
	resize: vertical;
	outline: none;
	color: #ffffff;
}