#container>canvas {
	position: absolute;
	left: 0;
	top: 0;
}
#coding {
	position: absolute;
	width: 50%;
	margin: 0 auto;
	visibility: hidden;

	z-index: 0;
}
#editor {
	font-family: monospace;
	background-color: #473c89;
	border: none;
	resize: none;
	outline: none;
	color: #ffffff;
}